@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  }
  
  
  
  *{
    font-family: "Roboto", serif;
    font-weight: normal;
    box-sizing: border-box;
  }
  
  /* header
  {
    margin-top: 100px;
    width: 100%;
    padding: 10px 0px;
    font-size: x-large;
    text-align: center;
  } */
  nav{
    /*padding-left: 75% ;*/
    padding-top: 5px;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 5;
  }
  .navbar ul {
    /*margin: 0;
    padding: 0;*/
    padding-right: 10px;
    display: flex;
    justify-content: right;
    list-style-type: none;
   
  }
  .navbar li {
    margin: 30px 0px 30px;
    position: relative;
    margin: 0px 10px; 
    display: inline-block;
  }
  nav a{
    
    color: black;
    text-decoration: none;
  
  }
  .navbar li :hover{
    /*color: #333;*/
    color: gray;
  
  }
  
    form input[type="submit"]{
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 5px 0px 0px;
    border: none;
    border-radius: 5px;
  }
    form input[type="submit"]:hover{
    background-color: #333;
  }
  
    form input[type="reset"]{
    background-color: #999696;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 5px 0px 0px;
    border: none;
    border-radius: 5px;
  }
  form input[type="reset"]:hover{
    background-color: rgb(177, 36, 36);
  }
  form label{
    display: block;
    margin: 10px 0px 5px 5px;
  }
  
  /* .catalog{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  
  .content {
    position: relative;   
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
    height: 350px;
  }
  
  
  .content img {
    width: 100%;
    height: auto;
  }
  
  .content h2 {
    margin: 15px 0;
    font-size: 24px;
    color: #333;
  }
  
  .content .time{
    margin-left: 10px;
    font-size: 20px;
    color: #888;
    float: left;
  }
  
  .content button {
    float: right;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 5px 0px 0px;
    border: none;
    border-radius: 5px;
  }
  .content button:hover {
    background-color: #333;
    
  }
  .content:hover .heart {
    opacity: 1;
  }
  
  .heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }*/