.footer {
  width: 100%;
  border-top: 1px #a59d92 solid;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: transparent;
}
.footer img {
  width: 3rem;
}
.footer > div > button img {
  width: 1.5rem;
}
